
//Colors
$main-font: #000000;
$mobile-main: #d9feea;
$mobile-accent: #9cfccb;
$mobile-element: #c3e5d3;
$side-bar: #d8befb;
$tablet-main: #cff1fe;
$tablet-accent: #81dbfc;
$tablet-element: #bbd9e4;
$bigscr-main: #f0e5fd;
$bigscr-element: #d8cee4;
$bigscr_accent: #f6ccf9;

//Media
$mobile: 640px;
$tablet: 1023px;
$desktop: 1200px;



$duration: 0.2s;